backend:
  name: github
  repo: "kirubaisathiyam-dev/kirubaisathiyam"
  branch: "main"

media_folder: "public/uploads"
public_folder: "/uploads"

collections:
  - name: "articles"
    label: "Articles"
    folder: "content/articles"
    create: true
    slug: "{{slug}}"
    extension: "md"
    format: "frontmatter"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Date", name: "date", widget: "datetime", date_format: "YYYY-MM-DD", time_format: false }
      - { label: "Author", name: "author", widget: "string" }
      - { label: "Send Newsletter", name: "send_newsletter", widget: "boolean", default: false, required: false }
      - { label: "Body", name: "body", widget: "markdown" }
